@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

.App {
  padding: 0;
  margin: 0;
}

.card-page {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1%;
}

.card {
  background-color: rgb(246, 178, 53);
  margin-top: 20px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 100px;
  width: 400px;
}

.search-page {
  padding: 10px 20px 0px 30px;
}

.search-bar {
  color: black;
  width: 15%;
  padding: 5px;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 15px;
}